# bash/zsh common aliases

alias ls='ls -F --color=auto'
alias 1='ls -1'
alias la='ls -lha'
alias ltr='ls -lhtr'
alias latr='ls -lhatr'

alias ..='cd ../'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

alias l='less'

alias grep='grep --color=auto --binary-files=without-match --directories=recurse --exclude-dir=.svn --exclude-dir=.git'

alias g='git'
alias m='make'
alias sc='screen'

alias e='emacsclient -n'
alias em='TERM=xterm-256color emacs -nw'

if which ag &> /dev/null; then
    # for solarized dark theme
    alias ag='ag --color --color-line-number=37 --color-match="01;31" --color-path=36'
fi

alias sunovim='vim -N -u NONE -i NONE --noplugin'

