root = true

[*]
end_of_line = lf
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true

indent_style = space
indent_size = 4

[*.go]
indent_style = tab
tab_width = 8

[*.{c,cpp,h}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[{Makefile, *.make}]
indent_style = tab
tab_width = 4

[{vimrc,*.vim}]
indent_size = 2

[*.el]
indent_size = 2

[*.bat]
end_of_line = crlf
