# Locale
export LANG=en_US.UTF-8

# Editor
export EDITOR="emacsclient"

export TERM=xterm-256color

# Pager
export PAGER=less
export LESS="-R -M -i -S -X"
export LESSCHARSET=utf-8

# Go
export GOPATH=$HOME/go
