# Locale
export LANG=en_US.UTF-8

export TERM=xterm-256color

# ls (TERM must be set before)
if [[ -x /usr/bin/dircolors ]]; then
    if [[ -r ~/.dir_colors ]]; then
        eval "$(dircolors -b ~/.dir_colors)"
    fi
fi

# Editor
export EDITOR="vim"

# Pager
export PAGER=less
export LESS="-R -M -i -S -X"
export LESSCHARSET=utf-8

# Go
export GOPATH=$HOME/project/go
[ ! -d "$HOME/project/go" ] && mkdir -p "$HOME/project/go"
export PATH=${GOPATH}/bin:$PATH
