[user]
	name = sssho
	email = 43515414+sssho@users.noreply.github.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	l = log
	s = status
	d = diff
	b = branch
	co = checkout
	cm = commit
